/* typography */
body {
  font-family: $main-font;
  color: $main-color;
  overflow-x: hidden;
}

h1, .h1 {
  @include font(2.5rem, 800, 1.35);

  @include respond-to('sm') {
    font-size: 2rem;
  }
}
h2 {
  @include font(2.25rem, 800, 1.2);

  @include respond-to('sm') {
    font-size: 1.75rem;
  }
}
h3 {
  @include font(1.25rem, 700, 1.2);

  &.prices-title {
    @include font(1.5625rem, 500, 1.2);

    &.prices-business-title {
      color: #F47960;
    }
  }
}
.subtitle {
  @include font(1.125rem, 400, 1.83);
}